@page "/MatchPage"
@using System.Data.SqlClient
@using System.Data
@using System.Data.Sql
@using System.Text.RegularExpressions;
@using System.Linq;
@using Dating_App.Data;
@inject NavigationManager navigateManager
@inject SessionState State
@inherits ProfileListBase

<body>
    <div class="container">
        <div>
            <label>
                <input type="radio"
                       value="M"
                       name="gender"
                       checked="@(searchGender == "M")"
                       @onclick="@(()=>searchGender = "M")" />Male
            </label>
            <label>
                <input type="radio"
                       value="F"
                       name="gender"
                       checked="@(searchGender == "F")"
                       @onclick="@(()=>searchGender = "F")" />Female
            </label>
        </div>
        <div class="card-deck">

            @foreach (var ProfileInfo in Profiles)
            {
                <div class="card">
                    @*<img class="imageCard" src='http:\\127.0.0.1:8887\userImages\@(State.Username)\@(State.Username).jpg'>*@
                    <h1>@ProfileInfo.Firstname</h1>
                    <p class="description"> @State.Description</p>
                    <p>I live in @ProfileInfo.City</p>
                    <p>I am ProfileInfo years old!</p>
                    <p>ProfileInfo cm</p>
                    <p>ProfileInfo kilos</p>
                </div>
            }
        </div>
    </div>
</body>


<button @onclick=klikmig></button>

@code {
    //ProfileListBase profileListBase = new ProfileListBase();
    private string searchGender;
    //List<ProfileListBase> profile = new List<ProfileListBase>();

    public void klikmig()
    {
        LoadProfiles(searchGender);
        //SqlConnection con = new SqlConnection(@"Data Source=DESKTOP-2B7RBNS\SQLEXPRESS;Initial Catalog=DatingDB;Integrated Security=True");
        //if (con.State == ConnectionState.Closed)
        //{
        //    // Opens the SQL connection
        //    con.Open();
        //}
        //string query = $"SELECT Account.AccountID, Account.Email, Account.Username, Account.Password, Profile.AccountID, Profile.Firstname, Profile.Description, Profile.Area, Profile.Age, Profile.Gender, Profile.Height, Profile.Weight, Profile.DELETED FROM Account INNER JOIN Profile ON Profile.AccountID=Account.AccountID WHERE gender=@Gender AND isDeleted=@IsDeleted;";
        

        //using (SqlCommand sqlCmd = new SqlCommand(query, con))
        //{
        //    sqlCmd.CommandType = System.Data.CommandType.Text;
        //    sqlCmd.Parameters.AddWithValue("@Gender", searchGender);
        //    sqlCmd.Parameters.AddWithValue("@IsDeleted", 0);
        //    SqlDataReader reader = sqlCmd.ExecuteReader();

        //    while (reader.Read())
        //    {
        //        var rec = new List<string>();
        //        for (int i = 0; i <= reader.FieldCount - 1; i++) 
        //        {
        //            rec.Add(reader.GetString(i));
        //        }
        //        profileList.Add(rec);
        //    }

        //}
    }
 }
