@page "/register"
@using System.Data.SqlClient
@using System.Data
@using System.Data.Sql
@using System.Text.RegularExpressions;
@using System.Linq;
@using Dating_App.Data;
@inject IJSRuntime JsRuntime
@inject NavigationManager navigateManager
@layout LoginLayout

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://www.clipartmax.com/png/full/71-718854_kissing-clipart-fish-cartoon-fish-in-love.png"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Create a new account</h4>
                                </div>

                                <form>
                                    <div class="form-outline mb-4">
                                        <input @bind-value="account.Email" type="email" id="form2Example11" class="form-control"
                                               placeholder="E-mail..." required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input @bind-value="account.Username" type="text" id="form2Example11" class="form-control" placeholder="Username..." required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input @bind-value="profile.Firstname" type="text" id="form2Example11" class="form-control" placeholder="First name..." required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input @bind-value="account.Password" type="password" id="form2Example11" class="form-control" placeholder="Password..." required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input @bind-value="profile.City" type="city" id="form2Example11" class="form-control" placeholder="City..." required />
                                    </div>
                                </form>
                            </div>
                        </div>



                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="https://www.clipartmax.com/png/full/71-718854_kissing-clipart-fish-cartoon-fish-in-love.png"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Account information</h4>
                                </div>

                                <form>
                                    <div class="form-outline mb-4 p-md-1>">
                                        <input @bind-value="profile.Weight" type="number" id="form2Example11" class="form-control" placeholder="Weight in kilos..." required>
                                    </div>

                                    <div class="form-outline mb-4 p-md-1>">
                                        <input @bind-value="profile.Height" type="number" id="form2Example11" class="form-control" placeholder="Height in centimeters..." required>
                                    </div>

                                    <div class="form-outline mb-4 p-md-1>">
                                        <input @bind-value="profile.Age" type="date" id="form2Example11" class="form-control" max="2004-12-31" required>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <p>Select your gender:</p>
                                        <label>
                                            <input type="radio"
                                                   value="M"
                                                   name="gender"
                                                   checked="@(profile.Gender == "M")"
                                                   @onclick="@(()=>profile.Gender = "M")" />Male
                                        </label>
                                        <label>
                                            <input type="radio"
                                                   value="F"
                                                   name="gender"
                                                   checked="@(profile.Gender == "F")"
                                                   @onclick="@(()=>profile.Gender = "F")" />Female
                                        </label>
                                    </div>

                                    <button @onclick=createUserMethod class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Create account</button>

                                     <div class="alert" style=".alert {padding: 20px; background-color: red; color: white; margin-bottom: 15px;} 
                                    .closebtn. {margin-l: 15px; color: white; font-weight: bold; float: right; font-size: 22px; line-height: 20px; cursor: pointer; transition: 0.3s;} .c:hover {color: black;}">
                                     <span class="btn-close" onclick="this.parentElement.style.display='none';">&times;</span>
                                        @error.errorMessage
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Backend for the page-->
@code {

    Account account = new Account();
    Profile profile = new Profile();
    Error error = new Error();

    private void createUserMethod()
    {
        SqlConnection con = new SqlConnection(@"Data Source=DESKTOP-UIHP6HL\SQLEXPRESS;Initial Catalog=DatingDB;Integrated Security=True");
        if (con.State == ConnectionState.Closed)
        {
            // Opens the SQL connection
            con.Open();
        }

        string query = "Insert into Account (Username, Password, Email) Values(@Username, @Password, @Email); Insert into Profile (Area, Height, Age, Weight, Gender, Deleted, Firstname) Values(@Area, @Height, @Age, @Weight, @Gender, @Deleted, @Firstname);";
        SqlCommand sqlCmd = new SqlCommand(query, con);

        sqlCmd.CommandType = System.Data.CommandType.Text;
        // Account information for SQL
        sqlCmd.Parameters.AddWithValue("@Email", account.Email);
        sqlCmd.Parameters.AddWithValue("@Username", account.Username);
        sqlCmd.Parameters.AddWithValue("@Password", account.Password);

        // Profile Information for SQL
        sqlCmd.Parameters.AddWithValue("@Area", profile.City);
        sqlCmd.Parameters.AddWithValue("@Weight", profile.Weight);
        sqlCmd.Parameters.AddWithValue("@Height", profile.Height);
        sqlCmd.Parameters.AddWithValue("@Age", profile.Age);
        sqlCmd.Parameters.AddWithValue("@Gender", profile.Gender);
        sqlCmd.Parameters.AddWithValue("@Deleted", profile.isDeleted);
        sqlCmd.Parameters.AddWithValue("@Firstname", profile.Firstname);

        try
        {
            sqlCmd.ExecuteScalar();
            navigateManager.NavigateTo("");        
        }
        catch
        {
            error.errorMessage = "Email and/or username already exists!";
        }

    }

}

<!-- Code for styling-->

<style>
    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    #media (min-width: 768px) {
        .gradient-form
    }


    {
        height: 100vh !important;
    }


    #media (min-width: 769px) {
        .gradient-custom-2
    }

    {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }



    input:invalid + span::after {
        content: "✖";
        padding-left: 5px;
    }

    input:valid + span::after {
        content: "✓";
        padding-left: 5px;
    }
</style>
