@page "/register"
@using System.Data.SqlClient
@using System.Data
@using System.Data.Sql
@using System.Data.SqlClient
@using System.Data
@using System.Text.RegularExpressions;
@using System.Linq;
@inject IJSRuntime JsRuntime
@inject NavigationManager navigateManager
@layout LoginLayout


<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
color    <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://www.clipartmax.com/png/full/71-718854_kissing-clipart-fish-cartoon-fish-in-love.png"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Create a new account</h4>
                                </div>

                                <form>
                                    <div class="form-outline mb-4">
                                        <input @bind-value="inputEmail" type="email" id="form2Example11" class="form-control"
                                               placeholder="E-mail..." required />
                                        
                                        <span class="validity"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input @bind-value="inputUsername" type="text" id="form2Example11" class="form-control" placeholder="Username" required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input @bind-value="inputPassword" type="password" id="form2Example11" class="form-control" placeholder="Password" required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input @bind-value="inputCity" type="city" id="form2Example11" class="form-control" placeholder="City" required />
                                    </div>
                                </form>
                            </div>
                        </div>



                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="https://www.clipartmax.com/png/full/71-718854_kissing-clipart-fish-cartoon-fish-in-love.png"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Account information</h4>
                                </div>

                                <form>
                                    <div class="form-outline mb-4 p-md-1>">
                                        <input @bind-value="inputWeight" type="number" id="form2Example11" class="form-control" placeholder="Weight in kilos" required>
                                    </div>

                                    <div class="form-outline mb-4 p-md-1>">
                                        <input @bind-value="inputHeight" type="number" id="form2Example11" class="form-control" placeholder="Height in centimeters" required>
                                    </div>

                                    <div class="form-outline mb-4 p-md-1>">
                                        <input @bind-value="inputAge" type="date" id="form2Example11" class="form-control" max="2004-12-31" required>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <p>Select your gender:</p>
                                        <label>
                                            <input type="radio"
                                                   value="M"
                                                   name="gender"
                                                   checked="@(inputGender == 'M')"
                                                   @onclick="@(()=>inputGender = 'M')" />Male
                                        </label>
                                        <label>
                                            <input type="radio"
                                                   value="F"
                                                   name="gender"
                                                   checked="@(inputGender == 'F')"
                                                   @onclick="@(()=>inputGender = 'F')" />Female
                                        </label>
                                        @inputGender
                                    </div>

                                    <button @onclick=createUserMethod class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Next</button>
                                    <div style="background-color: red;">
                                        <p> @errorMessage</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Backend for the page-->
@code {
    private string inputEmail { get; set; }
    private string inputUsername { get; set; }
    private string inputPassword { get; set; }
    char inputGender { get; set; }
    string inputCity { get; set; }
    string inputWeight { get; set; }
    string inputHeight { get; set; }
    DateTime? inputAge { get; set; }
    int isDeleted = 0;
    private string errorMessage;


    private void createUserMethod()
    {
        SqlConnection con = new SqlConnection(@"Data Source=DESKTOP-2B7RBNS\SQLEXPRESS;Initial Catalog=DatingDB;Integrated Security=True");
        if (con.State == ConnectionState.Closed)
        {
            // Opens the SQL connection
            con.Open();
        }

        string query = "Insert into Account (Username, Password, Email) Values(@Username, @Password, @Email); Insert into Profile (Area, Height, Age, Weight, Gender, Deleted) Values(@Area, @Height, @Age, @Weight, @Gender, @Deleted);";
        SqlCommand sqlCmd = new SqlCommand(query, con);

        sqlCmd.CommandType = System.Data.CommandType.Text;
        // Account information for SQL
        sqlCmd.Parameters.AddWithValue("@Email", inputEmail);
        sqlCmd.Parameters.AddWithValue("@Username", inputUsername);
        sqlCmd.Parameters.AddWithValue("@Password", inputPassword);

        // Profile Information for SQL
        sqlCmd.Parameters.AddWithValue("@Area", inputCity);
        sqlCmd.Parameters.AddWithValue("@Weight", inputWeight);
        sqlCmd.Parameters.AddWithValue("@Height", inputHeight);
        sqlCmd.Parameters.AddWithValue("@Age", inputAge);
        sqlCmd.Parameters.AddWithValue("@Gender", inputGender);
        sqlCmd.Parameters.AddWithValue("@Deleted", isDeleted);



        try
        {
            sqlCmd.ExecuteScalar();
        }
        catch
        {

            errorMessage = "Email and/or username already exists!";
        }

    }
    
}

<!-- Code for styling-->

<style>
    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    #media (min-width: 768px) {
        .gradient-form

    {
        height: 100vh !important;
    }

    }

    #media (min-width: 769px) {
        .gradient-custom-2

    {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }

    }

    input:invalid + span::after {
        content: "✖";
        padding-left: 5px;
    }

    input:valid + span::after {
        content: "✓";
        padding-left: 5px;
    }
</style>
